# Node.js
node_modules/
npm-debug.log*

# Environment Variables
.env
.env.local
server/.env

# Databases
server/database.sqlite

# Build outputs
client-bar/dist/
client-game/dist/
dist/

# IDE & OS
.vscode/
.DS_Store
Thumbs.db
